bak/
__pycache__/
dist/
dist_old/
dist_old_2/
dist_old_3/
build/
pico_c_compiler.spec
README.txt
*.pre
*.tokens
*.rtokens
*.dt
*.rdt
*.ast
*.rast
*.json
*.picoc_shrink
*.picoc_blocks
*.picoc_patch
*.picoc_anf
*.picoc_symbol
*.picoc_typing
*.reti_blocks
*.reti_patch
*.reti
sys_tests/*.reti
*.picoc_typing
*.picoc_symbol
*.error
*.c
*.c_output
*.reti_tokens
*.reti_ast
*.ps
*.st
*.sections
*.bin
*.input
*.output
*.expected_output
*.datasegment_size
*.reti_states
*.eprom
*.res
*.cast
*.gdb_history
*.venv/
.virtualenv/
.codex
.bak/dispatcher.header
.bak/dispatcher.picoc
.bak/isrs.picoc
.bak/scheduler.header
.bak/scheduler.picoc
.bak/interrupt_service_routines/004_sleep.picoc
.bak/interrupt_service_routines/005_wakeup.picoc
.bak/interrupt_service_routines/006_switch_to_scheduler_INTTIMER_1.picoc
.bak/interrupt_service_routines/build_isrs.py
.bak/interrupt_service_routines/README.md
.bak/Makefile.bak
.bak/run_sys_tests.sh.bak
.bak/bootload.sh
.bak/compile.sh
.bak/e_compile.sh
.bak/i_compile.sh
*.debuginfo
source_files_os.pdf
git_diff_workspace_*.pdf
.bak/
output.txt
raw_output.txt
